<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cases matrix generator">
    <title>Cases matrix generator</title>
    <link rel="stylesheet" href="./pure.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="./grids-responsive-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="./grids-responsive.css">
    <!--<![endif]-->
    <script type="text/javascript" src="./vue.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="./pure_menus.js"></script>
    <style type="text/css">
        blockquote {
            margin: 0;
        }

        blockquote p {
            padding: 15px;
            background: #eee;
            border-radius: 5px;
        }

        table {
            margin: 0 auto;
            width: 100%;
        }

        textarea {
            width: 100%;
        }

        .button-xsmall {
            font-size: 70%;
        }

        .cases-table,
        .cases-table td,
        .cases-table th {
            border: 1px solid #000;
        }

        .pure-menu-link {
            border: 1px solid #eee;
        }
    </style>
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-3-24">&nbsp;</div>
        <div class="pure-u-18-24">
            <div id="app">
                <h1>Requirements</h1>
                <blockquote>
                    <p>
                        <strong>Usage:</strong> Add requirements and their options. Application produce all possible
                        combinations of all options (Cartesian product).<br />
                        <strong>Tips:</strong> HTML tags supported inside text<br />
                        <strong>Repo:</strong> <a href="https://github.com/srumyantsev/cases-matrix-generator">https://github.com/srumyantsev/cases-matrix-generator</a>
                    </p>
                </blockquote>
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Options</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="(requirement, requirementIndex) in requirements">
                            <td>
                                <textarea v-model="requirement.title"></textarea>
                            </td>
                            <td>
                                <table class="pure-table pure-table-horizontal">
                                    <tbody>
                                        <tr v-for="(option, optionIndex) in requirement.options">
                                            <td><textarea v-model="option.value"></textarea></td>
                                            <td>
                                                <div class="pure-menu pure-menu-horizontal">
                                                    <ul class="pure-menu-list">
                                                        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                                            <a href="#" class="pure-menu-link">Actions</a>
                                                            <ul class="pure-menu-children">
                                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link"
                                                                        :class="{ 'pure-button-disabled': optionIndex === 0 }"
                                                                        @click="(event) => !(optionIndex === 0) ? moveItem(requirement.options, optionIndex, true) : event.preventDefault()">Up</a></li>
                                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link"
                                                                        :class="{ 'pure-button-disabled': optionIndex === requirement.options.length - 1 }"
                                                                        @click="(event) => !(optionIndex === requirement.options.length - 1) ? moveItem(requirement.options, optionIndex, false) : event.preventDefault()">Down</a></li>
                                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link"
                                                                        @click="addRequirementOption(requirement.options, optionIndex, true)">Add
                                                                        before</a></li>
                                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link"
                                                                        @click="addRequirementOption(requirement.options, optionIndex, false)">Add
                                                                        after</a></li>
                                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link"
                                                                        :class="{ 'pure-button-disabled': requirement.options.length === 1 }"
                                                                        @click="(event) => !(requirement.options.length === 1) ? deleteItem(requirement.options, optionIndex) : event.preventDefault()">Delete</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <div class="pure-menu pure-menu-horizontal">
                                    <ul class="pure-menu-list">
                                        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                            <a href="#" class="pure-menu-link">Actions</a>
                                            <ul class="pure-menu-children">
                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link" :class="{ 'pure-button-disabled': requirementIndex === 0 }"
                                                        @click="(event) => !(requirementIndex === 0) ? moveItem(requirements, requirementIndex, true) : event.preventDefault()">Up</a></li>
                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link" :class="{ 'pure-button-disabled': requirementIndex === requirements.length - 1 }"
                                                        @click="!(requirementIndex === requirements.length - 1) ? moveItem(requirements, requirementIndex, false) : event.preventDefault()">Down</a></li>
                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link" @click="addRequirement(requirementIndex, true)">Add
                                                        before</a></li>
                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link" @click="addRequirement(requirementIndex, false)">Add
                                                        after</a></li>
                                                <li class="pure-menu-item"><a href="#" class="pure-menu-link" :class="{ 'pure-button-disabled': requirements.length === 1 }"
                                                        @click="(event) => !(requirements.length === 1) ? deleteItem(requirements, requirementIndex) : event.preventDefault()">Delete</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h1>Cases table</h1>
                <table class="pure-table pure-table-bordered cases-table">
                    <thead>
                        <tr>
                            <th v-for="requirement in requirements">
                                <span v-html="requirement.title.replace(/(?:\r\n|\r|\n)/g, '<br />')"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="resultCase in resultCases">
                            <td v-for="resultCaseItem in resultCase">
                                <span v-html="resultCaseItem.replace(/(?:\r\n|\r|\n)/g, '<br />')"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h1>Cases list</h1>
                <ul>
                    <li v-for="(resultCase, resultCaseIndex) in resultCases">
                        <strong>Case #{{++resultCaseIndex}}: </strong>
                        <ul>
                            <li v-for="requirement in requirements">{{
                                requirement.title }}: <span v-html="resultCase[requirements.indexOf(requirement)]"></span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>